@page "/users"

@if (loading)
{
    <Loading />
}
else
{
    <MudTable Items="@Users"
              @ref="table"
              ServerData="LoadListAsync"
              Dense="true"
              Hover="true"
              Striped="true"
              FixedHeader="true"
              FixedFooter="true">
        <ToolBarContent>
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6" Class="me-4">@Localizer["UserUsers"]</MudText>
                <MudButton Variant="Variant.Outlined" 
                           EndIcon="@Icons.Material.Filled.Add" 
                           Color="Color.Info" 
                           Href="/register/?IsAdmin=true">
                    @Localizer["UserUsers"] @Localizer["UserAdmin"]
                </MudButton>
            </div>
            <MudSpacer />
            <FilterComponent ApplyFilter="SetFilterValue" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>@Localizer["UserImage"]</MudTh>
            <MudTh>@Localizer["UserUser"]</MudTh>
            <MudTh>@Localizer["UserPhoneNumber"]</MudTh>
            <MudTh>@Localizer["UserEmail"]</MudTh>
            <MudTh>@Localizer["UserConfirmed"]</MudTh>
            <MudTh>@Localizer["UserUserType"]</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>
                <MudImage Src="@context.PhotoFull" Width="80" Height="80" Style="border-radius: 50%;" />
            </MudTd>
            <MudTd>@context.FullName</MudTd>
            <MudTd>@context.PhoneNumber</MudTd>
            <MudTd>@context.Email</MudTd>
            <MudTd>@context.EmailConfirmed</MudTd>
            <MudTd>@context.UserType</MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>@Localizer["IUNoRecords"]</MudText>
        </NoRecordsContent>
        <PagerContent>
            <MudTablePager RowsPerPageString=@Localizer["IURecordsNumber"]
                           PageSizeOptions="pageSizeOptions"
                           AllItemsText=@Localizer["IUAll"]
                           InfoFormat="@infoFormat" />
        </PagerContent>
    </MudTable>
}